#cMenuModalBar {
  width: auto;
  height: auto;
  padding: 3px;
  bottom: 4.25em;
  margin: 0 auto;
  user-select: none;
  border-radius: 6px;
  position: absolute;
  min-width: fit-content;
  justify-content: space-around;
  z-index: var(--layer-status-bar);
  box-shadow: 0px 3px 25px rgb(31 38 135 / 10%);
  border: 1px solid var(--background-modifier-border);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#cMenuModalBar .cMenuCommandItem {
  margin: 2px;
  border: none;
  cursor: pointer;
  padding: 5px 6px;
  display: flex;
  box-shadow: none;
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
  border-radius: 3px;
  font-size: initial !important;
  transition: 250ms ease-in-out;
  background-color: var(--background-primary-alt);
}

#cMenuModalBar button.cMenuCommandItem:hover {
  background-color: var(--background-secondary);
}

#cMenuModalBar button.cMenuCommandItem svg {
  width: 1.3em;
  height: 1.3em;
  stroke-width: 2;
}

.modal.mod-settings
  button:not(.mod-cta):not(.mod-warning).cMenuSettingsButton.cMenuSettingsButtonAdd {
  background-color: var(--interactive-accent-hover);
}

.modal.mod-settings
  button:not(.mod-cta):not(.mod-warning).cMenuSettingsButton.cMenuSettingsButtonDelete {
  background-color: #989cab;
}

button.cMenuSettingsButton {
  padding: 4px 14px;
  border-radius: 6px;
}

.cMenuSettingsButton svg {
  width: 1.3em;
  height: 1.3em;
  display: flex;
}

.cMenuIconPick {
  padding: 4px;
  vertical-align: -0.25em;
}

.cMenuIconPick svg {
  width: 17px;
  height: 17px;
  stroke-width: 2;
}

.cMenuFlex {
  display: flex;
}

.cMenuGrid {
  display: grid;
}

.cMenuGlassAesthetic {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.cMenuDefaultAesthetic {
  background-color: var(--background-primary);
}

.cDonationSection {
  width: 60%;
  height: 50vh;
  margin: 0 auto;
  text-align: center;
  color: var(--text-normal);
}
