a[href="https://www.buymeacoffee.com/chetachi"] > img
{
  height: 2.5em;
}

#cMenuModalBar {
  z-index: var(--layer-status-bar);
  bottom: 5em;
  padding: 3px;
  display: grid;
  margin: 0 auto;
  width: fit-content;
  min-width: 100px;
  position: sticky;
  user-select: none;
  border-radius: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid var(--background-modifier-border);
  justify-content: space-around;
  background-color: var(--background-primary);
  box-shadow: 0px 3px 25px rgba(31, 38, 135, 0.1);
}

#cMenuModalBar span {
  padding: 5px;
  display: flex;
}

#cMenuModalBar div {
  margin: 2px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  transition: 250ms ease-in-out;
  background-color: var(--background-primary-alt);
}

#cMenuModalBar div:hover {
  background-color: var(--background-secondary);
}

#cMenuModalBar div svg {
  height: 1.3em;
  width: 1.3em;
  fill: var(--text-normal);
}

.cMenuDonation {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: var(--text-normal);
}
