/*----------------------------------------------------------------
CMENU TOOLBAR
----------------------------------------------------------------*/

#cMenuModalBar {
  width: auto;
  height: auto;
  padding: 3px;
  bottom: 4.25em;
  margin: 0 auto;
  user-select: none;
  border-radius: 6px;
  position: absolute;
  min-width: fit-content;
  justify-content: space-around;
  z-index: var(--layer-status-bar);
  box-shadow: 0px 3px 32px rgb(31 38 135 / 15%);
  border: 1px solid var(--background-modifier-border);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#cMenuModalBar .cMenuCommandItem {
  margin: 2px;
  border: none;
  cursor: pointer;
  padding: 5px 6px;
  display: flex;
  box-shadow: none;
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
  border-radius: 3px;
  font-size: initial !important;
  background-color: var(--background-primary-alt);
}

#cMenuModalBar button.cMenuCommandItem:hover {
  background-color: var(--background-secondary);
}

#cMenuModalBar button.cMenuCommandItem svg {
  width: 1.3em;
  height: 1.3em;
  stroke-width: 2;
}

/*----------------------------------------------------------------
CMENU SETTINGS BUTTONS
----------------------------------------------------------------*/

.modal.mod-settings
  button:not(.mod-cta):not(.mod-warning).cMenuSettingsButton.cMenuSettingsButtonAdd,
button:not(.mod-cta):not(.mod-warning).cMenuSettingsButton.cMenuSettingsButtonAdd {
  background-color: var(--interactive-accent-hover);
}

.modal.mod-settings
  button:not(.mod-cta):not(.mod-warning).cMenuSettingsButton.cMenuSettingsButtonDelete,
button:not(.mod-cta):not(.mod-warning).cMenuSettingsButton.cMenuSettingsButtonDelete {
  background-color: #989cab;
}

button.cMenuSettingsButton {
  padding: 4px 14px;
  border-radius: 6px;
}

.cMenuSettingsButton svg {
  width: 1.3em;
  height: 1.3em;
  display: flex;
}

/*----------------------------------------------------------------
CMENU CLASS CHANGES
----------------------------------------------------------------*/

.cMenuFlex {
  display: flex;
}

.cMenuGrid {
  display: grid;
}

.cMenuGlassAesthetic {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.cMenuDefaultAesthetic {
  background-color: var(--background-primary);
}

/*----------------------------------------------------------------
CMENU ICONS
----------------------------------------------------------------*/

.cMenuIconPick {
  padding: 4px;
  vertical-align: -0.25em;
}

.cMenuIconPick svg {
  width: 17px;
  height: 17px;
  stroke-width: 2;
}

/*----------------------------------------------------------------
CMENU STATUS BAR MENU
----------------------------------------------------------------*/

.cMenu-statusbar-menu {
  width: 200px;
}

.cMenu-statusbar-menu .menu-item-icon {
  display: none;
}

.cMenu-statusbar-menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.cMenu-statusbar-menu .menu-item:hover,
.cMenu-statusbar-menu .menu-item .selected:hover,
.cMenu-statusbar-menu .menu-item.selected:not(.is-disabled):not(.is-label) {
  background-color: transparent;
}

.cMenu-statusbar-menu .menu-item-title {
  margin-right: 10px;
}

.cMenu-statusbar-menu .slider {
  width: 100%;
}

.cMenu-statusbar-menu .menu-item.buttonitem {
  display: flex;
}

.cMenu-statusbar-menu .menu-item.buttonitem button.cMenuSettingsButton {
  margin: 0;
}

/*----------------------------------------------------------------
CMENU STATUS BAR BUTTONS
----------------------------------------------------------------*/

.cMenu-statusbar-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1;
}

.cMenu-statusbar-button svg {
  display: flex;
  width: 1.3em;
  height: 1.3em;
}

/*----------------------------------------------------------------
CMENU SUPPORT
----------------------------------------------------------------*/

.cDonationSection {
  width: 60%;
  height: 50vh;
  margin: 0 auto;
  text-align: center;
  color: var(--text-normal);
}
